@charset "utf-8";
/* CSS Document */

* {
	font-family:Tahoma, Geneva, sans-serif;
	box-sizing:border-box;
}
html, body{
	margin: 0px;
	padding:0px;
}
.container {
	width: 80%;
	margin: 0 auto;
}
header {
	background: linear-gradient(#06F, #FFF, #006);
	padding: 5px;
}

div.head {
	display:flex;
}

div.head nav {
	margin-left: auto;
}

nav ul {
	list-style-type:none;
	padding:0;
	margin:0;
	display:flex;
}

ul > li > a {
	text-decoration:none;
	color: yellow;
}

nav ul > li > a{
	
	display:block;
	padding: 15px 10px;
}
header h1 {
	text-align: center;
	color: #FFF;
	text-shadow: 2px 3px 3px #CCCCCC;
	
}

/* CSS ADS */
section.ads {
	width: 60%;
	display: flex;
	margin:0 auto;
	text-align:center;
	margin-top:10px;
}

section.ads > div {
	width: 25%;
	background-color:rgba(0, 0, 255, 0.4);
	padding-bottom: 100px;
	padding-top: 5px;
	border: 1px dashed #000033;
	margin-right: 5px;
}

/* CSS CONTENT */
section.content {
	width: 80%;
	background-color:#003;
	margin: 0 auto;
	color:#FFF;
	display:flex;
	margin-top:10px;
}

section.content ul {
	list-style-image:url(../images/bullet2.png);
	list-style-position:inside;
	padding:0;
}

section.content ul > li {
	background-color:#F00;
	margin-top:2px;
	padding: 10px;
	transition:.5s;
}

section.category {
	width:30%;
	padding: 15px;
}
section.category ul > li:hover{
	background-color:#000;
}
section.content h2 {
	text-align:center;
}

section.news {
	width: 70%;
	padding:15px;
}

div.subject {
	border-bottom: 2px solid #F00;
}

div.subject span {
	background-color:#F00;
	display:block;
	width:30%;
	padding: 15px;
	border-radius:20px 20px 0 0;
}
div.posts{
	display:flex;
	padding-top:10px;
}
div.posts > div.img{
	overflow:hidden;
}
div.posts > div.img img{
	max-width:100%;
	transition:transform .5s;
}
div.posts > div.img img:hover{
	transform: scale(1.2);
}
div.posts > div.para{
	width:90%;
	padding:15px;
}
div.posts h4{
	margin:0px;
}
div.posts h4 > a{
	text-decoration:none;
	color:yellow;
}
.tag{
	background-color:#0CC;
	border-radius: 5px;
	padding 15px;
}
footer{
	background:linear-gradient(#069,white,#00C);
	display:flex;
	margin:2px;
	padding:15px;
	color:#303;
}
footer > div{
	width:33.33%;
	margin-left:0 auto;
	padding:10px;
}
footer > div > h3{
	text-decoration:underline;
}
footer > div > ul > li{
	list-style-type:none;
}
@media screen and (max-width: 500px) {
	div.head, section.ads, section.category{
		display:none;
	}
	section.content, section.news, div.subject > span{
		width:100%;
	}
	div.posts{
		flex-direction: column;
	}
	div.posts img {
		width: 100%;
	}
	footer div > img{
		display:none;
	}
	footer{
		display:block;
	}
	footer div{
		width:100%;
		text-align:center;
	}
}